@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --white: #FFFFFF;
  --color-backgournd: #F2F5F9;
  --color-title: #111729;
  --color-subtitle: #677489
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* global css */
body {
  font-size: 16px;
  background-color: var(--color-backgournd);
}

/* base css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  max-width: 430px;
  position: relative;
  border-radius: 12px;
  background-color: var(--white);
  box-shadow: 0px 20px 100px 0px rgba(17, 23, 41, 0.08);
}

.card-header img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.card-overlay img {
  margin-top: -60px;
}

.card-body {
  margin: 0px 30px;
}

.card-body::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  margin-top: 25px;
  background-color: rgba(100, 100, 100, 0.1);
}

.card-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 15px;
}

.card-subtitle {
  font-family: 'Lato', sans-serif;
  line-height: 25px;
  color: var(--color-subtitle);
}

.card-footer {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 30px;
  margin-top: 25px;
}

.card-footer img {
  width: 10%;
  height: auto;
  border: 5px solid rgba(100, 100, 100, 0.1);
  border-radius: 50%;
}

.card-profile h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

.card-profile span {
  font-size: 0.8rem;
  color: var(--color-subtitle);
}
